:root {
  --bg-color: #001d3d;
  --light-color: #ebf2fa;
  --lighter-color: #003566;
  --moon-color: #ffffff;
  --sun-color: #ffd60a;
  --invert-color: invert(100%);
}
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: white;
  transition: color 1s ease;
  font-size: 4rem;
}
* {
  scroll-behavior: smooth;
  transition: transform 1s ease;
}
body {
  transition: opacity 0.5s ease-in-out;
  font-family: "Bebas Neue", sans-serif;
  background-color: var(--bg-color);
  color: var(--light-color);
}
.container.loaded {
  opacity: 1;
  transform: translateY(0);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  transform: translateY(100px); /* Slide it down */
  transition: opacity 1s ease, transform 1s ease;
}
.searchbar-container {
  width: 40%;
  margin-top: 2rem;
  margin-left: 30%;
  margin-right: 30%;
}
@media only screen and (max-width: 480px) {
  .searchbar-container {
    width: 80%;
    margin-top: 2rem;
    margin-left: 30%;
    margin-right: 30%;
  }
}
.searchbar-container form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.searchbar-container input,
input::placeholder {
  background-color: var(--lighter-color);
  color: white;
  outline: none;
  border: none;
  padding: 5px;
  font-family: "Raleway", sans-seri;
}
#searchbar {
  width: 60%;
  height: 2.2rem;
  border-radius: 1rem;
}
#submit {
  width: 30%;
  height: 2.6rem;
  border-radius: 1rem;
}
#submit:hover {
  cursor: pointer;
}
.curr-weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.curr-weather-container h1 {
  transition: opacity 2s ease-in-out;

  font-size: 4.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.curr-weather-container h1 .animate {
  opacity: 0; /* Initial state for the animation */
}

.moon-sun {
  height: 9rem;
  width: 9rem;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  -webkit-filter: var(--invert-color);
}
.container-min-max {
  display: flex;
  justify-content: space-between;
}
.max-min-weather-container {
  background-color: var(--lighter-color);
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
.weather-max-min {
  display: flex;
  justify-content: space-between;
}
.max-min-weather-container h2 {
  transition: opacity 0.5s ease-in-out;

  font-size: 1.8rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.moon-sun-min,
.moon-sun-max {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  -webkit-filter: var(--invert-color);
}
.max-min-weather-container h3 {
  transition: opacity 0.5s ease-in-out;

  font-size: 1.8rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.message-container {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--light-color);
  font-family: "Raleway", sans-seri;
  padding: 10px;
  margin: 5px;
}
.message-container-error {
  background-color: darkred;
}

.nav-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 50%;
  height: 7rem;
}
.link-header {
  border-radius: 1rem;
  padding: 7px;
  align-items: center;
  justify-content: center;
}
.link-header:hover {
  background-color: #1a4165;
  cursor: pointer;
}
.link-header p {
  font-family: "Noto Sans", sans-serif;
  color: white;
  margin: 0;
  font-size: 1.2rem;
}

.nav-bar img {
  width: 3rem;
  height: 100%;
}
.menu {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  transition: opacity 1s ease, transform 1s ease;
}
.burger-menu {
  display: none;
}

.icon-nav {
  width: 20%;
}
